.headline {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#nostr-notes-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#nostr-notes-container > p {
  padding: 12px;
  font-size: 16px;
  background-color: rgb(24, 102, 181);
  border-radius: 10px;
}