.headline {
  display: flex;
  flex-direction: column;
  place-items: center;
  position: sticky;
  margin-bottom: 10px;
}

#nostr-notes-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 600px;
  overflow: scroll;
}

#nostr-notes-container > p {
  padding: 12px;
  font-size: 16px;
  background-color: rgb(24, 102, 181);
  border-radius: 10px;
  word-break: break-all;
}

.npub-input-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 6px;
  width: 100%;
  max-width: 400px;
}

.input-field {
  width: 100%;
  font-size: 16px;
  /* background-color: rgb(39, 125, 211); */
}

.input-button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}